﻿@model Dto.Consumers.JobDto
@{
    Layout = null;
    var ValueExpiresAt = @Model.ExpiresAt != null ? @Model.ExpiresAt.Value.ToString("yyyy-MM-ddThh:mm") : "n/a";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <div class="text-center"><H1></H1>Jobs Create</div>
    <hr />
    <div class="container-fluid">
        <div class="col-md-12">
            <form action="Create" method="post" name="data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Job" class="control-label">Job</label>
                    <input name="Job" class="form-control" value="@Model.Job" />
                    <span asp-validation-for="Job" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobTitle" class="control-label">JobTitle</label>
                    <input name="JobTitle" class="form-control" value="@Model.JobTitle" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <input name="Description" class="form-control" value="@Model.Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedAt" class="control-label">CreatedAt</label>
                    <input name="CreatedAt" type="datetime-local" class="form-control" value="@Model.CreatedAt.ToString("yyyy-MM-ddThh:mm")" />
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpiresAt" class="control-label">ExpiresAt</label>
                    <input name="ExpiresAt" type="datetime-local" class="form-control" value="@ValueExpiresAt" />
                    <span asp-validation-for="ExpiresAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <span class="alert alert-info">@ViewBag.Message</span>
            }
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <span class="alert alert-danger">@ViewBag.ErrorMessage</span>
            }
        </div>
        <br/>
        <div>
            <a href="/">Back to List</a>
        </div>
    </div>

    
    <script>
        $("#ErrorMessage").fadeOut(15000);
        $("#Message").fadeOut(15000);
        
    </script>
</body>
</html>
