﻿@model IEnumerable<Dto.Consumers.JobDto>

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <style>
        a{color:white;}
    </style>
    <title>Jobs CRUD</title>
</head>
<body>

    <div class="container-fluid">

        <div class="text-center"><H1></H1>Jobs Board</div>
        <li class="btn btn-info">@Html.ActionLink("Create", "Create", "Jobs")</li>
        <hr />
        <div class="col-md-12">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.JobId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Job)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.JobTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExpiresAt)
                            </th>
                            <th><span class="glyphicon glyphicon-pencil"></span></th>
                            <th><span class="glyphicon glyphicon-trash"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.JobId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Job)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.JobTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpiresAt)
                                </td>
                                <td>
                                    <li class="btn btn-success">@Html.ActionLink("Edit", "Edit", "Jobs", new { id = item.JobId })</li>
                                </td>
                                <td>
                                    <form action="Delete" method="post" onsubmit="return SubmitConfirmation()">
                                        <input type="hidden" name="JobId" class="form-control" value="@item.JobId" />
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script>
        function SubmitConfirmation(e) {
            
            if (!confirm('Do you want to remove?')) {
                return false;
            }
        }
    </script>
</body>
</html>